version: 2.1

# Common executor configuration
executors:
  clojure:
    docker:
      - image: circleci/clojure:lein-2.9.1
    working_directory: ~/repo


# Job definitions
jobs:
  style:
    executor: clojure
    steps:
      - checkout
      - run:
          name: Install cljfmt CLI
          command: "wget https://github.com/greglook/cljfmt/releases/download/0.8.1/cljfmt_0.8.1_linux.tar.gz && tar -xzf cljfmt_0.8.1_linux.tar.gz"
      - run:
          name: Check source formatting
          command: "./cljfmt check --stats style-stats.tsv"
      - store_artifacts:
          path: style-stats.tsv
          destination: style

  test:
    executor: clojure
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-test-{{ checksum "project.clj" }}
            - v2-test-
      - run: lein deps
      - run: lein check
      - run: lein test
      - save_cache:
          key: v2-test-{{ checksum "project.clj" }}
          paths:
            - ~/.m2

  coverage:
    executor: clojure
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-coverage-{{ checksum "project.clj" }}
            - v2-coverage-
            - v2-test-
      - run: lein coverage --codecov
      - save_cache:
          key: v2-coverage-{{ checksum "project.clj" }}
          paths:
            - ~/.m2
      - store_artifacts:
          path: target/coverage
          destination: coverage
      - run:
          name: Publish Coverage
          command: 'bash <(curl -s https://codecov.io/bash) -f target/coverage/codecov.json'


# Workflow definitions
workflows:
  version: 2
  build:
    jobs:
      - style
      - test
      - coverage:
          requires:
            - test
